@charset "UTF-8";
/* CSS Document */

.hidden {
  display: none;
}

#container {
  margin: 20px auto;
  width: 428px;
  border: solid 1px #f97708;
  background: rgb(34, 193, 195);
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 72%
  );
  border-radius: 5px;
}

#mainContent {
  display: grid;
  grid-template-columns: repeat(4, 85px);
  grid-column-gap: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

article {
  grid-column: 1/-1;
}

img {
  margin-top: 20px;
  margin-bottom: 30px;
}

h1 {
  color: #e56399;
}
